@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsBusModel
@{
    var bus = Model.Bus;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>Id: </b> @bus.id</li>
  <li class="list-group-item"> <b>Marca: </b> @bus.marca</li>
  <li class="list-group-item"> <b>Modelo: </b> @bus.modelo</li>
  <li class="list-group-item"><b>Kilometraje: </b> @bus.kilometraje</li>
  <li class="list-group-item"><b>Numero de asientos: </b> @bus.numero_asientos</li>
  <li class="list-group-item"><b>Placa: </b> @bus.placa</li>
</ul>	
