@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusModel
@{
}
 
<h1>Listado de Buses</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Kilometraje</th>
        <th>Numero de asiento</th>
        <th>Placa</th>
        <th>Acciones</th>
    </thead>
    @foreach (var bus in Model.Buses){
        <tr>
            <td>@bus.id</td>
            <td>@bus.marca</td>
            <td>@bus.modelo</td>
            <td>@bus.kilometraje</td>
            <td>@bus.numero_asientos</td>
            <td>@bus.placa</td>
            <td>
                <div class="text-center">
                    <a class="btn btn-sm btn-success" asp-page="./Details" asp-route-busId="@bus.id"><i class="fa-solid fa-eye"></i></a>
                    <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-busId="@bus.id"><i class="fa-solid fa-pencil"></i></a>
                    <form method="POST">
                        <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@bus.id">
                        <button type="submit" class="btn btn-sm btn-danger" href=""><i class="fa-solid fa-trash"></i></button>
            </form>
                </div>
              </td>
        </tr>
    }
</table>