@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusModel
@{
}
 
<h1>Listado de Buses</h1>
<table class="table table-striped text-center table-hover">
    <thead>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Kilometraje</th>
        <th>Numero de asiento</th>
        <th>Placa</th>
        <th>Acciones</th>
    </thead>
    @foreach (var bus in Model.Buses){
        <tr>
            <td>@bus.id</td>
            <td>@bus.marca</td>
            <td>@bus.modelo</td>
            <td>@bus.kilometraje</td>
            <td>@bus.numero_asientos</td>
            <td>@bus.placa</td>
            <td>
                <div class="text-center">
                    <a class="btn btn-sm btn-success" asp-page="./Details" asp-route-busId="@bus.id"><i class="fa-solid fa-eye"></i></a>
                    <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-busId="@bus.id"><i class="fa-solid fa-pencil"></i></a>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#eliminar_@bus.id"><i class="fa-solid fa-trash"></i></button>

                    <div class="modal fade" tabindex="-1" id="eliminar_@bus.id" role="dialog" aria-labelledby="Modal para eliminar una estacion" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Eliminar registro</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Esta seguro de eliminar este registro?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    <form method="POST">
                                        <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@bus.id">
                                        <button type="submit" class="btn btn-danger">Si</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </td>
        </tr>
    }
</table>