@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusModel
@{
}
 
<h1>Listado de Buses</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Kilometraje</th>
        <th>Numero de asiento</th>
        <th>Placa</th>
        <th>Acciones</th>
    </thead>
    @foreach (var bus in Model.Buses)
    {
        <tr>
            <td>@bus.id</td>
            <td>@bus.marca</td>
            <td>@bus.modelo</td>
            <td>@bus.kilometraje</td>
            <td>@bus.numero_asientos</td>
            <td>@bus.placa</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-busId="@bus.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-busId="@bus.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>
