@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutasModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tiempo estimado(Horas)</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var ruta in Model.Rutas)
    {
        <tr>
            <td>@ruta.id</td>
            <td>@ruta.origen</td>
            <td>@ruta.destino</td>
            <td>@ruta.tiempo_estimado</td>
            <td>
              <a class="btn btn-sm btn-success" asp-page="./Details" asp-route-rutaId="@ruta.id"><i class="fa-solid fa-eye"></i></a>
              <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-rutaId="@ruta.id"><i class="fa-solid fa-pencil"></i></a>
              <form method="POST" class="d-inline">
              <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@ruta.id">
              <button type="submit" class="btn btn-sm btn-danger" href=""><i class="fa-solid fa-trash"></i></button>
            </form>
            </td>
        </tr>
    }

  </tbody>
</table>