@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEstacionesModel
@{
}
 
<table class="table table-striped text-center table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Coordenada X</th>
      <th scope="col">Coordenada Y</th>
      <th scope="col">Tipo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var estacion in Model.Estaciones)
    {
        <tr>
            <td>@estacion.id</td>
            <td>@estacion.nombre</td>
            <td>@estacion.direccion</td>
            <td>@estacion.coord_x</td>
            <td>@estacion.coord_y</td>
            <td>@estacion.tipo</td>
            <td>
              <a class="btn btn-sm btn-success" asp-page="./Details" asp-route-estacionId="@estacion.id"><i class="fa-solid fa-eye"></i></a>
              <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-estacionId="@estacion.id"><i class="fa-solid fa-pencil"></i></a>
              <form method="POST" class="d-inline">
              <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@estacion.id">
              <button type="submit" class="btn btn-sm btn-danger" href=""><i class="fa-solid fa-trash"></i></button>
            </form>
            </td>
        </tr>
    }

  </tbody>
</table>