@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEstacionesModel
@{
}
 
<table class="table table-striped text-center table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Coordenada X</th>
      <th scope="col">Coordenada Y</th>
      <th scope="col">Tipo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var estacion in Model.Estaciones)
    {
        <tr>
            <td>@estacion.id</td>
            <td>@estacion.nombre</td>
            <td>@estacion.direccion</td>
            <td>@estacion.coord_x</td>
            <td>@estacion.coord_y</td>
            <td>@estacion.tipo</td>
            <td>
                <a class="btn btn-sm btn-success" asp-page="./Details" asp-route-estacionId="@estacion.id"><i class="fa-solid fa-eye"></i></a>
                <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-estacionId="@estacion.id"><i class="fa-solid fa-pencil"></i></a>
                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#eliminar_@estacion.id"><i class="fa-solid fa-trash"></i></button>

                <div class="modal fade" tabindex="-1" id="eliminar_@estacion.id" role="dialog" aria-labelledby="Modal para eliminar una estacion" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Eliminar registro </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Esta seguro de eliminar este registro?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <form method="POST">
                                    <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@estacion.id">
                                    <button type="submit" class="btn btn-danger">Si</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

  </tbody>
</table>